BOT_TOKEN=
CHANNEL_ID=@StartupClubRTUMIREA
ADMIN_IDS=123456789
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=dady_ru
WORKER_INTERVAL_SECONDS=60
REWARD_ATTENDANCE_COINS=150
REWARD_FIRST_ATTENDANCE_BONUS=30
REWARD_FEEDBACK_COINS=30
